# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_table(url,delimiter='\t')
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 4. How many products cost more than $10.00?

In [21]:
above10 = chipo[chipo["item_price"] > 10]
above10.head(50)
above10.item_name.value_counts().count()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [20]:
twoCols= chipo[["item_name", "item_price"]]
twoCols.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [33]:
chipo.sort_values(by="item_name").head()

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49
1167,481,1,6 Pack Soft Drink,[Coke],6.49
3875,1554,1,6 Pack Soft Drink,[Diet Coke],6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49
3886,1558,1,6 Pack Soft Drink,[Diet Coke],6.49
2108,849,1,6 Pack Soft Drink,[Coke],6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49
4169,1664,1,6 Pack Soft Drink,[Diet Coke],6.49
4174,1666,1,6 Pack Soft Drink,[Coke],6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49
2389,949,1,6 Pack Soft Drink,[Coke],6.49
3132,1248,1,6 Pack Soft Drink,[Diet Coke],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
639,264,1,6 Pack Soft Drink,[Diet Coke],6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49
1051,432,1,6 Pack Soft Drink,[Coke],6.49
2232,899,1,6 Pack Soft Drink,[Coke],6.49
2374,945,1,6 Pack Soft Drink,[Sprite],6.49
1260,511,1,6 Pack Soft Drink,[Coke],6.49
879,363,1,6 Pack Soft Drink,[Coke],6.49
3693,1480,1,6 Pack Soft Drink,[Diet Coke],6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],6.49
2793,1109,1,6 Pack Soft Drink,[Diet Coke],6.49
2860,1136,1,6 Pack Soft Drink,[Diet Coke],6.49
1392,566,1,6 Pack Soft Drink,[Diet Coke],6.49
3600,1443,1,6 Pack Soft Drink,[Coke],6.49
3614,1448,1,6 Pack Soft Drink,[Nestea],6.49
4359,1741,1,6 Pack Soft Drink,[Coke],6.49
4363,1742,1,6 Pack Soft Drink,[Diet Coke],6.49
3633,1454,1,6 Pack Soft Drink,[Coke],6.49
388,168,1,6 Pack Soft Drink,[Diet Coke],6.49
721,298,1,6 Pack Soft Drink,[Nestea],6.49
417,182,1,6 Pack Soft Drink,[Diet Coke],6.49
1758,709,1,6 Pack Soft Drink,[Diet Coke],6.49
3766,1508,1,6 Pack Soft Drink,[Coke],6.49
743,306,1,6 Pack Soft Drink,[Coke],6.49
357,154,1,6 Pack Soft Drink,[Coke],6.49
1755,708,1,6 Pack Soft Drink,[Coke],6.49
1279,520,1,6 Pack Soft Drink,[Sprite],6.49
418,182,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
2253,907,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",9.25
4485,1786,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
1032,425,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
3017,1200,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
1383,562,1,Barbacoa Bowl,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",11.48

### Step 7. What was the quantity of the most expensive item ordered?

In [47]:
maxItemPrice=chipo['item_price'] == chipo['item_price'].max()
chipo[maxItemPrice]
#df[df['item_price'] == df['item_price'].max()].shape[0]
#print(max_value)

,order_id,quantity,item_name,choice_description,item_price,max_value,44.25
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,44.25,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [16]:
chipo[chipo['item_name']=='Veggie Salad Bowl']['quantity'].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [3]:
newchipo=chipo.copy()
x=newchipo[chipo['item_name']=='Canned Soda'][chipo['quantity']>1]
#x
x['item_name'].value_counts()

/var/folders/q3/n91_ymyn31jd9l4fp2y_nt8c0000gn/T/ipykernel_1621/4166804528.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x=newchipo[chipo['item_name']=='Canned Soda'][chipo['quantity']>1]

Canned Soda    20
Name: item_name, dtype: int64